.leaflet-popup-content-wrapper {
  background-color: gray;
}

.leaflet-control-layers-expanded {
  background-color: #2da0e2;
  background-size: 100%;
  background-image: url("../images/x.png");
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 50%;
}

.leaflet-control-layers-expanded:hover {
  opacity: 100%;
}

.leaflet-popup-tip {
  background-color: gray;
  opacity: 0%;
}

.leaflet-popup-close-button {
  background-color: gray;
  opacity: 0%;
}

.popupImage {
  max-width: 100%;
  max-height: 100%;
}

.popupImage:hover {
  transform: scale(7);
  opacity: 1 !important;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  z-index: 1000 !important;
}

.gtav {
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  cursor: url("/assets/images/cursor.png"), auto;
}

/* :hover {
  cursor: url("/css/assets/images/cursor.png"), auto;
} */

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.gallery {
  background-color: rgba(15, 15, 15, 1);
  color: white;
  font-family: Arial, sans-serif;
}

.gallery-button {
  position: fixed;
  top: 20px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s;
  margin-left: 0px;
}
.gallery-button a {
  color: white;
  text-decoration: none;
}
.gallery-button:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* Gallery Button on map page (bottom-left) */
#map .gallery-button {
  position: absolute !important;
  top: auto !important;
  bottom: 20px !important;
  left: 10px !important;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eee;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition:
    width 1000ms,
    height 1000ms;
}

.cursor.large {
  height: 50px;
  width: 50px;
}
